<h3>List of Products</h3>

<table role="grid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Created</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do | product | %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= product.quantity %></td>
        <td>
          <%= time_ago_in_words product.created_at %>
          <%= " ago" %>
        </td>
        <td class="edit-button">
          <%= button_to "Edit" %>
        </td>
        <td class="delete-button">
          <%= button_to "Delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button>
  <%= link_to "Add Products", new_product_path %>
</button>
