<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>
      <% if content_for?(:show_title) %>
        <%= yield :show_title %>
      <% else %>
        Grr . . . Shoppee
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "icons8-healthy-food-calories-calculator-48.png" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <link rel="stylesheet" href="/pico.min.css.map"/>

  </head>

  <body>
    <% flash.each do |key, message| %>
      <div><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
