<!DOCTYPE html>
<html>
  <head>
    <title>Grr . . . Shoppee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "icons8-healthy-food-calories-calculator-48.png"%>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>    

  </head>

  <body>
    <main class="container"></main>
    <%= yield %>
  </body>
</html>
